body {
    font: 20px Oxygen, sans-serif;
    line-height: 1.8;
    color: #2e3092;
    background: #ffffff;
    background-size: cover;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: rgba(255, 255, 255, 1.0);
    color: #000000;
}
.myButton{
    color:#7fb946;
    border-style: solid;
    border-color: #7fb946;
    background-color:#ffffff;
    text-decoration: none;
    margin-top: -80px;
    transition: none;
}
.myButton   a:hover {
    color: #7fb946 !important;
}
.bg-2 {
    color: #196fb7;
    background-color: rgba(255, 2255, 255, 1.0);
    border: 1px solid #84878b;
    margin-bottom: 30px;
    margin-top: -30px;
    padding-top: 0px;
}

#ex-con {
    text-align: center;
    margin-top: 4%;
    padding-top: 20px;
    font-size: 60px;
    border-top: solid;
    border-width: 3px;
    background-color:#196fb7;
    color: #ffffff;
}

#def-con {
    text-align: center;
    margin-top: 4%;
    padding-top: 20px;
    font-size: 60px;
    background-color:#ffffff;
    color: #196fb7;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-4 {
    background-color: #eaedf1;
    color: #196fb7;
    padding-top: 0px;
    padding-bottom: 0px;
}

.ex-title{

    padding-top: 2%;
    text-align: center;
    font-size: 50px ;
}

#define{
    align-items: center;

    color: #636c72;
    font-style: italic;
    font-size: xx-large;
    text-align: left;
    padding-bottom: 2%;
    padding-top: 2%;

    padding-left: 8%;
    padding-right: 8%;

    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

#define d{
    color: black;
    font-style: normal;
    margin: 10px;
    font-size: x-large;
}

trink-frame{
    margin: 10%;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #84878b
}
.navbar-nav  li a:hover {
    color: #196fb7 !important;
}

.yt-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.yt-container iframe, .yt-container object, .yt-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

span.glyphicon-arrow-right {
    font-size: 3.0em;
}